<div class="col-md-6">
  <form [formGroup]="studentCreateForm">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-5">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body text-center">
              <h4 class="mb-2">Student create</h4>
              <div class="form-group">
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                  </div>
                  <div class="input-group mb-2 mr-sm-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text-ivan"><i class="fa fa-male" aria-hidden="true"></i></div>
                    </div>
                    <input type="text" class="form-ivan" placeholder="Ivan" formControlName="studentName">
                  </div>
                </div>
                <div class="input-group mb-2 mr-sm-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-male" aria-hidden="true"></i></div>
                  </div>
                  <input type="text" class="form-control" placeholder="Carlos" formControlName="studentName">
                </div>
              </div>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="a.a@gmail.com" formControlName="studentEmail">
              </div>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend" style="background-color:red">
                  <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="a.a@gmail.com" formControlName="studentEmail">
              </div>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="+57 302 232 2324" formControlName="studentPhone">
              </div>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-card" aria-hidden="true"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="1" formControlName="idSubject">
              </div>
              <button type="submit" class="btn btn-dark" (click)="submitCreateStudent()">
                Create student
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
